@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@100;400&display=swap');

.blank-page{
    background-image: url(.././images/svg/login-bg.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // font-family: 'Cairo', sans-serif;

    // position: relative;
    

    min-height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    //     /* font-family: 'Roboto', sans-serif; */
    // font-family: "Almarai";


}

@media only screen and (max-width: 700px){
  .blank-page{
    background-image: url(.././images/svg/login-bg-gray.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    min-height: 100%;
  }  
}


.login-handler {
  
  // justify-content: center;
  // display: flex;
  // position: absolute;
  // top: 15vh;

}


.login-container{

    // background-color: #ffffff;
    // border-radius: 8px;
    /* border: none; */
    // width: 430px;
    // height: 570px;
    // box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);

}

.welcome-text{
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.login-text{
    font-size: 20px;
    font-weight: 800;
    color: #4788C6;
}


input{
    /* border: 1px solid #E5E7EB; */
    border: 1px solid #E5E7EB;

    /* border: none; */

    border-radius: 4px;
    width: 100%;
    height:48px;

}

input:focus{
    outline: none;

}
label{
    color: #1F2733;
    font-weight: 700;
    font-size: 12px;
    display: block;
}


.btn-login{
    background-color: #FBB827;
    border-radius: 8px;
    border: none;
    color: #5F605F;
    font-size: 18px;
    font-weight: 700;

  }



  .form-check-label{
    font-size: 14px;
    font-weight: 700;
    color: white;
    // padding: 20px;
  }

  .form-check-input{
    width: 18px;
    height: 18px;
    border: 2px solid#FBB827;
    color: #FBB827;
    background-color: #5f605f;
    border-radius: 2px;
    // margin-right: 20px;
  }

  .form-check-input:checked{
    border: 2px solid#FBB827;
    color: #FBB827;
    background-color: #5f605f;
    border-radius: 2px;
  }




  .image-loader{
    max-height: 100vh;
    object-fit: cover;
    width: 100%;
  }


  .error-login{
    background-color: #FEE4E2;
    border-radius: 8px;
  }

  .error-bold{
    font-weight: 800;
    font-size: 16px;
    color: #A6223D;
  }

  .error-message{
    font-weight: 400;
    font-size: 16px;
    color: #A6223D;
  }


  #validationCustom01::placeholder{
    color: #a3aab0;

  }
  #validationCustom01{
    padding-inline-start: 50px !important;
    height: 60px;

  }

  
  #validationCustom02::placeholder{
    color: #a3aab0;

  }
  #validationCustom02{
    padding-inline-start: 50px !important;
    height: 60px;

  }
  .invalid-feedback{
    color: white;
  }