
  .map_main_divider .modal-content{
    background: #ffffff00;
    border: none;
    box-shadow: none;
  }

  .main_side_list{
    background: #FFFFFF;
    border-radius: 8px;
    height: 100%;
  }

  .circlue_blue{
    background: #E0EDFF;
    border-radius: 24px;
    width: 39px;
height: 39px;
  }